{% extends 'main.html' %}
{% block 'body' %}
    <div class="row">
        <div class="one-half column" style="margin-top: 5%">
            <h4>Pokers Hand</h4>
        </div>
    </div>
    <div class="row">
        <div class="one-half column">
            <button id="new_game">Nuevo Juego</button>
            <button id="next_hands" style="display: none;">Siguientes manos</button>
        </div>
    </div>
    <div class="row">
        <div class="one-half column" id="hand1">
            <div class="cards"></div>
            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns" id="result1"></div>
            </div>
        </div>
        <div class="one-half column" id="hand2">
            <div class="cards"></div>
            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns" id="result2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="one-half column" id="result" style="display: none;">
            <p>Win: <span></span></p>
        </div>
    </div>
{% endblock %}