{% extends 'main.html' %}
{% block 'body' %}
    <div class="row">
        <div class="one-half column" style="margin-top: 5%">
            <h4>Pokers Hand</h4>
        </div>
    </div>
    <div class="row">
        <div class="one-half column">
            <button id="new_game">New Game</button>
            <button id="next_hands" style="display: none;">Next Comparison</button>
        </div>
    </div>
    <div class="row">
        <div class="one-half column" id="hand1">
            <div><h4>Hand 1</h4></div>
            <div class="cards"></div>
            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns" id="result1"></div>
            </div>
        </div>
        <div class="one-half column" id="hand2">
            <div><h4>Hand 2</h4></div>
            <div class="cards"></div>
            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns" id="result2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="one-half column" id="result" style="display: none;">
            <p>Win: <span></span></p>
        </div>
    </div>
{% endblock %}